#canvasZone {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - var(--footer-height) - var(--titlebar-area-height));
    margin-top: var(--titlebar-area-height);

    &.expanded {
        height: calc(100% - var(--titlebar-area-height));
    }
}

#renderCanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    display: block;
    border: 0;
    outline: 0;
}
